{% extends 'base.html' %}
{% block content %}
<h2>About</h2>
<p>The formation of the group grew out of a meeting Gandalf had with Thorin in Bree
	which kindled Thorin's interest in recapturing his long lost family inheritance.
	(Thorin's grandfather had been the king of the Lonely Mountain when Smaug came and
	took it.) Remembering that he had once known an adventurous Hobbit on his travels
	in the Shire, Gandalf decided to add Bilbo to their company because he knew that
	stealth and cunning were preferable to force. Gandalf also believed that someone
	like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash action.
	The superstitious Dwarves also considered thirteen to be an unlucky number, and as
	Gandalf had planned to leave on other business, welcomed a fourteenth to fill into
	their party.
</p>
<div class="row featurette">
	<div class="col-md-7">
		<h3>Thorin Oakenshield</h3>
		<p>In the year TA 2746, Thorin II was born to Dwarven prince Thráin II in the mountain city of The Lonely
			Mountain.
			Early in his youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug
			in TA 2770.
			While in exile, he quickly grew to become a capable warrior. This was demonstrated when he participated in
			the Battle of
			Azanulbizar in TA 2799. He marched with one of the Dwarven armies beneath the East-gate of Moria.
			At some point in the fighting, his shield broke, and using an oaken tree branch found on the floor as a
			shield, he gained the
			epithet "Oakenshield," which would remain with him even in death.</p>
	</div>
	<div class="col-md-5">
		<img src="https://upload.wikimedia.org/wikipedia/en/e/ed/Thorin%2C_from_the_Hobbit.jpg">
    </div>
	</div>
	<div class="row featurette">
		<div class="col-md-5">
			<img src="https://vignette.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg/revision/latest?cb=20110714202952">
    </div>
			<div class="col-md-7">
				<h3>Fíli and Kíli</h3>
				<p>Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís.
					They were also nephews of Frerin, grandsons of Thráin II, and great-grandsons of Thror.
					Fíli's most distinguishing feature was his long nose, the longest of any of the Dwarves on the Quest
					of Erebor.
				</p>
			</div>
		</div>
		<div class="row featurette">
			<div class="col-md-7">
				<h3>Óin</h3>
				<p>Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. He usually wore a
					brown-hooded cloak when travelling. Óin fought in the Battle of Azanulbizar along with Thorin
					Oakenshield, and in TA 2941 joined with Thorin and Company on the quest to reclaim the Lonely
					Mountain wearing a brown hood.[2] Óin was one of the Dwarves who bet that Bilbo would come along
					with them to reclaim the Lonely Mountain. Óin and his brother Glóin were usually in charge of
					preparing the fire for the Company. He fought in and survived the Battle of the Five Armies, and
					later settled in the Lonely Mountain along with many other dwarves of The Company of Thorin.</p>
			</div>
			<div class="col-md-5">
				<img src="https://vignette.wikia.nocookie.net/middleearth-film-saga/images/2/25/Oin_AUJ_2.png/revision/latest?cb=20180930001615">
    </div>
			</div>
<div class="row featurette">
	<div class="col-md-5">
		<img src="https://vignette.wikia.nocookie.net/lotr/images/f/fc/Gloin_2.jpg/revision/latest?cb=20120908171710">
    </div>
    <div class="col-md-7">
        <h3>Glóin</h3>
        <p>In TA 2799, Glóin was known to have fought in the Battle of Azanulbizar, the last battle of
            the War of the Dwarves and Orcs. In TA 2941, Glóin and his brother Óin, along with his
            cousins Dwalin and Balin, were among the Dwarves accompanying Thorin and Company during
            their quest to the Lonely Mountain to recapture The Kingdom of Erebor from the Dragon Smaug.
            He was noted for his skills with a tinderbox, and, along with his brother Óin, was usually
            the one told to get a fire started whenever the Dwarves made camp. Gloin also fought in the
            Battle of the Five Armies.[1] After the battle, he settled back into the Lonely Mountain.
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Balin</h3>
        <p>Balin was a Dwarf leader, the son of Fundin, and elder brother of Dwalin. He was one of the
            thirteen Dwarves who accompanied Thorin II Oakenshield on the quest to regain the Lonely
            Mountain.

            A Dwarf Lord known for his wise counsel and willingness to listen, he was one of Thorin's
            closest friends and advisers. Balin was distantly related to him, and a descendant of the
            noble house of Durin.

            He later went to re-establish the kingdom of Moria, but within five years it was overcome
            once more by Orcs, and he was killed there along with the rest of his companions.</p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/5/52/Balin.jpg/revision/latest?cb=20120911171656">
    </div>
</div>
<div class="row featurette">
	<div class="col-md-5">
		<img src="https://vignette.wikia.nocookie.net/lotr/images/1/1c/Dwalin.jpg/revision/latest?cb=20120911200601">
    </div>
    <div class="col-md-7">
        <h3>Dwalin</h3>
        <p>Born in TA 2772, two years after the dragon Smaug had desolated Erebor, Dwalin was the son of Fundin and younger brother of Balin. 
        After fighting in the Battle of Azanulbizar at the age of 27, Dwalin accompanied Thrain the Second and Thorin Oakenshield to settle 
        peacefully in the northern Ered Luin.  Later in TA 2841, Dwalin, along with his brother Balin, and a few others accompanied Thráin 
        when he left the Ered Luin to visit Erebor. The small party was dogged by the emissaries of Sauron. In TA 2845, Thráin was captured 
        one night when he and his companions sheltered under the eaves of Mirkwood from a black rain. After a fruitless search for their leader, 
        the Dwarves gave up and returned to Thorin to inform him the news.
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Ori</h3>
        <p>Ori lived in Thorin's Halls in the northern Blue Mountains for many years. In the year TA 2941, Ori became a member of Thorin's Company 
        and travelled with Thorin, Gandalf, Bilbo Baggins, and the other dwarves on the quest for the Lonely Mountain, culminating in the death of Smaug. 
        Finally, he and the other dwarves of Thorin's Company fought in the Battle of the Five Armies, and he survived it.</p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/8/81/Ori.jpeg/revision/latest?cb=20130205205637">
    </div>
</div>
<div class="row featurette">
	<div class="col-md-5">
		<img src="https://vignette.wikia.nocookie.net/lotr/images/8/89/Dori-markhadlow-p.jpg/revision/latest?cb=20120107052829">
    </div>
    <div class="col-md-7">
        <h3>Dori</h3>
        <p>Dori was a Dwarf of Durin's Folk, who along with his brothers Nori and Ori travelled with Bilbo Baggins and Thorin Oakenshield as a member of Thorin's Company 
        on the Quest for Erebor, to reclaim the Lonely Mountain from the Dragon Smaug.  Dori was among the Dwarves at Bag End who joined in singing about 
        "blunting the knives" and "bending the forks"; as well as accompanying by playing the flute. He was described as “decent fellow despite his grumbling”. 
        He often wore a red-violet coat while on the Quest for Erebor. He was noted by Thorin to be the strongest of the thirteen companions
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Nori</h3>
        <p>Nori was the brother of Dori and Ori. Both Nori and Dori were capable flutists, and seem to have carried their flutes with them. Both these apparent brothers 
        also shared Bilbo's liking for regular meals. Before the Quest for the Lonely Mountain, Nori lived in Thorin's Halls in the northern Blue Mountains with his two brothers.</p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/d/db/Nori-jedbrophy-p.jpg/revision/latest?cb=20120107053122">
    </div>
</div>
<div class="row featurette">
	<div class="col-md-5">
		<img src="https://vignette.wikia.nocookie.net/lotr/images/b/b5/Bifur.jpg/revision/latest?cb=20110731144825">
    </div>
    <div class="col-md-7">
        <h3>Bifur</h3>
        <p>Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not of Durin's Folk. Most of his familial relations are unclear, 
        and what is known of his parentage is very little. He and his family were driven out of their home in the Lonely Mountain by the Dragon Smaug, 
        and were forced to live in exile, where the Dwarf warrior worked as a toy maker. Following Thorin II Oakenshield to a new life in the Blue Mountains, 
        he continued his life as a toy maker.
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Bofur</h3>
        <p>Bofur was a descendant of the Dwarves of Rhudaur, but was not of Durin's Folk. He and his family hailed from the Blue Mountains. As such, they 
        felt less strongly about the quest to reclaim the Lonely Mountain from the dragon Smaug, more interested in the adventure than a home they'd never seen.</p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/7/77/Bofur.jpg/revision/latest?cb=20110731144758">
    </div>
</div>
<div class="row featurette">
	<div class="col-md-5">
		<img src="https://vignette.wikia.nocookie.net/lotr/images/5/5f/Bombur-stephenhunter-p.jpg/revision/latest?cb=20120107054531">
    </div>
    <div class="col-md-7">
        <h3>Bombur</h3>
        <p>Bombur's parentage is unknown; the only familial connections mentioned are his brother Bofur and his cousin Bifur. 
        Bombur was not of Durin's line although he was descended from Dwarves of Moria. His birth year is also unknown, however, 
        from Bilbo Baggins' account from the quest to Erebor it is known that the brothers Fíli and Kíli were the youngest of the 13 
        "by some fifty years" and that after Thorin had been captured, Balin was "the eldest left". Since Fíli was born in TA 2859 and 
        Balin was born in TA 2763, this would put Bombur's birth between 2763 and 2809, and he would have been between 132 and 178 years 
        old during the quest to Erebor. Prior to the quest Bombur probably lived in the Blue Mountains with Thorin after the loss of Thráin II
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Gandalf</h3>
        <p>Originally called Olórin, he was accounted as the wisest of the Maiar (with the possible exception of Melian). He was created by 
        Ilúvatar before the Music of the Ainur[1], and was at the beginning of Time amongst the Ainur who entered into Eä.[2] In his "youth", 
        he became one of the Maiar who served Manwë, Varda, Irmo and Nienna named. He was associated with light and fire, much like his peer Varda.[3] 
        Yet his ways often took him to Nienna, from whom he learned pity and patience. He loved the Elves, but he walked unseen among them, or wore a 
        fana that appeared like an Elf, and sent them fair visions in their hearts that made them wiser. Throughout his existence, he followed the example of 
        Nienna, he took pity on the sorrows of the Children of Ilúvatar and drove those who listened to him out of despair.</p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/e/e7/Gandalf_the_Grey.jpg/revision/latest?cb=20121110131754">
    </div>
</div>


{% endblock %}